.wrapper {
  background-color: rgb(192, 219, 255);
  display: grid;
  grid-template-areas: 'albums list';
}

.album-covers {
  display: grid;
  grid-area: albums;
  background-color: blueviolet;
}

.song-list {
  display: grid;
  grid-area: list;
  background-color: chartreuse;
}

.auto-fit-column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1.5rem;
}

.auto-fit-column:last-child {
  margin-right: 2.4rem;
}

li {
  list-style: none;
}

h3 {
  /* padding: 2rem; */
  font-size: 2.4rem;
  font-weight: normal;
}

.box {
  display: grid;
  grid-template-areas: 'box';
}

.box > *,
.box::before {
  grid-area: box;
}

.add-to-favorites-btn {
  display: grid;
  grid-area: box;
  place-self: end;
  margin-bottom: 2.2rem;
}
