.password-reset-forms {
  display: grid;
  grid-template-areas: 'knownPassword forgotPassword';
}

.login-form {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 20rem;
  justify-content: center;
}
